{% extends 'AppBundle::layout.html.twig' %}

{%  block body %}
    {{ parent() }}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'home.name'|trans }}</a>
            </div>
            <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('homepage') }}">
                            {% block title %}
                                {{ 'home.welcome'|trans }}
                            {% endblock %}
                        </a>
                    </li>
                <li><a href="{{ path('cv') }}">{{ 'home.produits'|trans }}</a></li>

                {% if is_granted("ROLE_ADMIN") %}<li><a href="{{ path('cv_update') }}">{{ 'update.update'|trans }}</a></li>{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'home.logout'|trans }}</a></li>
                    </a>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> {{ 'home.register'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'home.login'|trans }}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>{{ 'home.welcome' |trans }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}